# Logs
logs
*.log
npm-debug.log*


report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/



# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz
y

# dotenv environment variables file
.env
.env.test
.env*.local

# Temporary folders
tmp/
temp/

# macOS files
.DS_Store

# IDE/Editor specific files
.vscode



# Local development files
*.local

# Visual Studio Code specific files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# System Files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

